# Auto detect text files and perform LF normalization
* text=auto
app/__init__.py
app/templates/root/*.html -crlf
app/templates/admin/*.html -crlf
app/static/admin/css/portal.css -crlf
app/static/admin/js/app.js -crlf
app/static/admin/js/charts-demo.js -crlf
app/static/admin/js/index-charts.js -crlf
app/static/admin/plugins/chart.js/*.js -crlf
app/static/admin/plugins/bootstrap/css/*.css -crlf
app/static/admin/plugins/bootstrap/js/*.js -crlf
app/static/admin/plugins/bootstrap/css/*.map -crlf
app/static/admin/plugins/bootstrap/js/*.map -crlf
app/static/admin/plugins/bootstrap/css/*.css -crlf
app/static/admin/plugins/fontawesome/js/*.js -crlf
app/static/admin/plugins/fontawesome/css/*.css -crlf
app/static/admin/plugins/fontawesome/less/*.less -crlf
app/static/admin/plugins/fontawesome/metadata/*.yml -crlf
app/static/admin/plugins/fontawesome/metadata/*.json -crlf
app/static/admin/plugins/fontawesome/scss/*.scss -crlf
app/static/admin/plugins/fontawesome/sprites/*.svg -crlf
app/static/admin/plugins/fontawesome/svgs/*.svg -crlf
app/static/admin/plugins/fontawesome/webfonts/*.ttf -crlf
app/static/admin/plugins/fontawesome/webfonts/*.woff2 -crlf
app/static/admin/plugins/fontawesome/LICENSE.txt -crlf
app/static/admin/plugins/popper.min.js -crlf
app/static/admin/scss/*.scss -crlf
app/static/admin/scss/*.js -crlf
app/static/admin/scss/*.scss -crlf
app/static/admin/images/*.jpg -crlf
app/static/admin/images/background/*.jpg -crlf
app/static/admin/images/users/*.jpg -crlf
app/static/admin/images/profiles/*.png -crlf
app/static/admin/images/*.png -crlf
app/static/admin/images/portal-logo.svg -crlf
app/static/admin/images/app-logo.svg -crlf
app/static/root/img/*.jpg -crlf
app/static/root/img/*.png -crlf
app/static/root/img/*.JPG -crlf
app/static/root/*.JPG -crlf
app/static/root/js/*.js -crlf
app/static/root/sass/*.scss -crlf
app/static/root/css/*.css -crlf
app/static/root/font/*.eot -crlf
app/static/root/font/*.svg -crlf
app/static/root/font/*.ttf -crlf
app/static/root/font/*.woff -crlf
app/static/root/font/*.woff2 -crlf
app/static/root/font/*.otf -crlf
app/static/uploads/*.jpg -crlf
app/static/uploads/*.JPG -crlf
app/static/uploads/*.png -crlf
app/routes/admin/*.py -crlf
app/routes/root/*.py -crlf
app/models/*.py -crlf
app/*.py -crlf